*{
    font-family: "Times New Roman", sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(https://media.tenor.com/Xe_qnBiuCOAAAAAC/county-fair-county.gif)
}


h1{
    color: lightcoral;
    margin: auto;
    text-align: center;
}

div{
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: auto;
    border: 5px solid;
    margin-bottom: 30px;
}

.deep-fried-oreos, .funnel-cakes{
    background-color: wheat;
}

.lemonade{
    background-color: yellow;
}

